
.main{

  position:absolute;
  top:40%;left:50%;
  transform:translate(-50%,-50%);
}
.main h1{
  margin-bottom:6px;
}
.main p{
  margin-bottom:8px;
}
.main .buttons{
  margin-top:40px;
}

h1{
  font-family:Roboto,sans-serif;
}

p{
  font-family:monospace;
}

.overlay{
  width:100vw;
  height:90vh;
  margin-top:-20%;
  background-color:#17a2b8;
}
